
h2{
    color: #49c5b6;
}
a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    border: #ffffff;
    align-items: center;
}
a:hover{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
* {
    margin: 0;
    padding: 0;
  }
nav-item{
    font-weight: 3px;
    color: #ffffff;
  }
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  body {
    background-image: url(star.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  nav .hamb{
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: transparent;
    position: absolute;
    cursor: pointer;
}
nav .hamb span{
    display: block;
    background:#49c5b6;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform,opacity;
}
nav .hamb span:nth-child(2){
    margin:7px 0px;
}
nav .nav-list{
    list-style:none;
}
nav .nav-list li{
    display: inline-block;
}
nav .nav-list li a{
    display: inline-block;
    color: white;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}
nav .nav-list li:not(:last-child) a:hover{
    color: #49c5b6;
    transition: .4s;
}
/* nav .nav-list li.btn a{
    display: inline-block;
    background: transparent;
    border: 3px solid #ffffff;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: #ffffff;
    font-weight: 500; */
/* } */
nav .nav-list li.btn:hover a{
    background: #4ac4b6;
    color: white;
    border: 2px solid transparent;
    transition: .4s;}
  
  /* .background-img {
    background-image: url("studytable_bg.jpg");
    height: 400px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding: 20px; */
    /* border: 1px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #2a3cad;
    position: relative; */
  
  
  .content h2 {
    font-size: 19px;
  }
  
  .box {
    size: cover;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: #2c2d37a6;
    box-sizing: content-box;
    overflow: scroll;
    box-shadow: 0 20px 50px rgb(226, 230, 255);
    border: 2px solid ;
    color: white;
    padding: 50px;
  }
 
  
  .box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    pointer-events: none;
  }
  
  .box:hover:before {
    left: -50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    /* border: 1px solid #f0a69100; */
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(9, 0, 0, 0);
  
  }
  
  .box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
  
  }
  
  .box span:nth-child(1) {
    transform: rotate(0deg);
  }
  
  .box span:nth-child(2) {
    transform: rotate(90deg);
  }
  
  .box span:nth-child(3) {
    transform: rotate(180deg);
  }
  
  .box span:nth-child(4) {
    transform: rotate(270deg);
  }
  
  .box span:before {
    content: '';
    position: absolute;
    width: 100%;;
    height: 3px;
    background: #49c5b743;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }
  
    50% {
      transform: scaleX(1);
      transform-origin: left;
    }
  
    50.1% {
      transform: scaleX(1);
      transform-origin: right;
  
    }
  
    100% {
      transform: scaleX(0);
      transform-origin: right;
  
    }
    ul {
        display: block;
        list-style-type: disc;
        position: relative;
      }
   
    }
    @media screen and (max-width:930px)  {
      nav .hamb{
          display: initial;
      }
      .click{
          top: 46px;
  
      }
      .click span{
          position: absolute;
          margin-top: 12px;
      }
      .click span:first-child{
          transform: rotate(-40deg)
      }
      .click span:nth-child(2){
          opacity: 0;
          margin: 0;
      }
      .click span:last-child{
          transform: rotate(40deg);
          top: 0,
      }
      nav .nav-list{
          position: absolute;
          top: 90px;
          right: -65%;
          bottom:0;
          width: 60%;
          height: 50%;
          background:  rgba(131, 123, 123, 0.311);
          z-index: 2;
          padding: 6% 9%;
          transition: .3s right;
          border-radius: 10px;
      }
      nav .nav-list li{
          display: block;
  
      }
      nav .nav-list li a{
          display: block;
          text-align: center;
          font-size: 18px;
          font-weight: 400;
          margin-left: 0;
          margin-bottom: 40px;
      }
      nav .nav-list li.btn a{
          position :absolute;
          bottom: 0%;
          right: 20%;
          left: 20%;
          padding:7px 15px;
          font-size: 14px;
      }
      nav .nav-list.open{
          right: 0;
      }
      
  }
  
  