*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}
.main-width{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}
.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(rgb(255, 255, 255),rgb(255, 255, 255)),url(studytable_bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
header{
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #0f88eb;
    color: hsl(207, 88%, 49%);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
nav .hamb{
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: white;
    position: absolute;
    cursor: pointer;
}
nav .hamb span{
    display: block;
    background:hsl(207, 88%, 49%);
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform,opacity;
}
nav .hamb span:nth-child(2){
    margin:7px 0px;
}
nav .nav-list{
    list-style:none;
}
nav .nav-list li{
    display: inline-block;
}
nav .nav-list li a{
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}
nav .nav-list li:not(:last-child) a:hover{
    color: hsl(207, 88%, 49%);
    transition: .4s;
}
nav .nav-list li.btn a{
    display: inline-block;
    background: transparent;
    border: 2px solid hsl(207, 88%, 49%);
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: hsl(207, 88%, 49%);
    font-weight: 500;
}
nav .nav-list li.btn:hover a{
    background: hsl(207, 88%, 49%);
    color: white;
    border: 2px solid transparent;
    transition: .4s;
}
.container{
    padding-top: 190px;
}
.container .hero-text{
    margin-bottom: 40px;
}
.container .hero-text h1{
    color: aqua;
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;
}
span{
    color: #0f88eb;

}
.container .hero-text h3{
    color: blueviolet;
    font-weight: 400;
    font-size: 17px;
}