/* //Hex Color Codes: #461E52 | #DD517F | #E68E36 | #556DC8 | #7998EE. */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}
.main-width{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}
.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* background: linear-gradient(#000,#000); */
    /* background: url('star.jpg');  */
    background: url('alyssa-hurley-yekIZ4ltv1o-unsplash.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
header{
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #0A3543;
    color: #0A3543;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
.clock{
    align-items: left;
    right: 10%;
    top: 32%;
    position: absolute;
    
    
}
nav .hamb{
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: transparent;
    position: absolute;
    cursor: pointer;
}
nav .hamb span{
    display: block;
    background:#0CA7AC;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform,opacity;
}
nav .hamb span:nth-child(2){
    margin:7px 0px;
}
nav .nav-list1{
    list-style:none;
}
nav .nav-list1 li{
    display: inline-block;
}
nav .nav-list1 li a{
    display: inline-block;
    color: #0CA7AC;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}
nav .nav-list1 li:not(:last-child) a:hover{
    color : #0CA7AC;
    
    transition: .4s;
}
nav .nav-list1 li.btn a{
    display: inline-block;
    background: transparent;
    border: 3px solid #0CA7AC;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: #0CA7AC;
    font-weight: 500;
}
nav .nav-list1 li.btn:hover a{
    background: #0CA7AC;
    color: #0A3543;
    border: 2px solid transparent;
    transition: .4s;
}
.container{
    padding-top: 190px;
}
.container .hero-text{
    margin-bottom: 40px;
}
.container .hero-text h1{
    color: #0CA7AC;
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;
}
span{
    color: #49c5b6;

}
.container .hero-text h3{
    color: #0A3543;
    font-weight: 400;
    font-size: 17px;
}
.container .hero-text p{
    width: 440px;
    max-width: 100%;
    color:  #0A3543;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.social a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #0A3543;
    cursor: pointer;
    margin-top: 60px;
    margin-right: 20px;
    background-color: rgba(131, 123, 123, 0.559);
    margin-bottom: 85px;
}
.social align-self:hover{
    transform: scale(1.1);
    background:#ACAEC5;
    transition: .4s;
}
.container .hero-text button{
    color:  #084410;
    background: #0f88eb;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 8px 30px;
    border: 2px solid #49c5b6;
    border-radius: 30px;
}
.container .hero-text button:hover{
    background: transparent;
    box-shadow  :0px 5px 50px 0 #0A3543 inset;
    border: 2px solid #084410;
    color: #ffffff;
    transform: .4s;
}
.bottom{
    margin-top: 243px;
    padding-bottom: 40px;
}
.bottom p{
    color:  #0A3543;
    letter-spacing: 2px;
    font-size: 15px;
}
@media screen and (max-width:930px)  {
    nav .hamb{
        display: initial;
    }
    .click{
        top: 46px;

    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg)
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(40deg);
        top: 0,
    }
    .flip-card {
        background-color:#ACAEC5 ;
        width: 300px;
        height: 200px;
        border: 1px solid #084410;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front {
        background-color: #084410;
        color: black;
      }
      
      /* Style the back side */
      .flip-card-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
      }
      
    nav .nav-list1{
        position: absolute;
        top: 90px;
        right: -65%;
        bottom:0;
        width: 60%;
        height: 50%;
        background:  rgba(131, 123, 123, 0.542);
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 10px;
    }
    nav .nav-list1 li{
        display: block;

    }
    nav .nav-list li a{
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-left: 0;
        margin-bottom: 40px;
    }
    nav .nav-list1 li.btn a{
        position :absolute;
        bottom: 0%;
        right: 20%;
        left: 20%;
        padding:7px 15px;
        font-size: 14px;
    }
    nav .nav-list1.open{
        right: 0;
    }
    
    
}