*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}
.main-width{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}
.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/web_d/studytable_bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
header{
    padding: 40px 0 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
nav .hamb{
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: white;
    position: absolute;
    cursor: pointer;
}
nav .hamb span{
    display: block;
    background: #2ecc71;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform,opacity;
}
nav